<div class="mainContainer">
  <div class="pt-5" style="background-color: #eeeeee">

  </div>
  <div class="CenYan">

    <!--<div class="subject-progress">-->
      <!--<button nz-button nzType="primary">Primary</button>-->
    <!--</div>-->
    <ul nz-menu [nzMode]="'horizontal'" class="border-bottom">
      <li nz-menu-item>
        <a href="#" target="_blank" rel="noopener noreferrer" style="font-size: large">考试详情</a>
      </li>
      <!--<li nz-menu-item>-->
        <!--<a routerLink="/rank" target="_blank" rel="noopener noreferrer" style="font-size: large">排行榜</a>-->
      <!--</li>-->
    </ul>

      <!--题目类型-->
      <div *ngFor="let question of detailsService.questions;let i = index">

          <div *ngIf="question.questionNumber==pos">

            <!--选择题-->
            <div *ngIf="question.type==1">
              <div class="subject-title">
                <span>不定选择题</span>
              </div>
              <div class="subject-main">
                <div class="subject-question">
                  {{question.questionNumber}}:
                  <div highlight="all" [innerHTML]="question.problem | safeHTML"></div>
                </div>
                <!--选项详情-->
                <div *ngIf="question.options">
                  <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event , question.questionNumber)">
                    <div nz-row>
                      <a class="subject-options" *ngFor="let option of question.options">
                        <div nz-col>
                          <div *ngIf="question.userAnswer">
                            <label nz-checkbox nzValue="{{option.optionNumber}}" [ngModel]="question.userAnswer.includes(option.optionNumber)">
                              <!--[ngModel]="question.userAnswer.includes(option.optionNumber)"-->
                              {{option.optionDetails}}
                            </label>
                          </div>
                          <div *ngIf="!question.userAnswer">
                            <label nz-checkbox nzValue="{{option.optionNumber}}">
                              {{option.optionDetails}}
                            </label>
                          </div>
                        </div>
                      </a>
                    </div>
                  </nz-checkbox-wrapper>
                </div>
              </div>
            </div>

            <!--判断题 单项选择题-->
            <div *ngIf="question.type==2 || question.type == 4">
              <div class="subject-title">
                <span *ngIf="question.type==2">单项选择题</span>
                <span *ngIf="question.type==4">判断题</span>
              </div>
              <div class="subject-main">
                <div class="subject-question">
                  {{question.questionNumber}}:
                  <div highlight="all" [innerHTML]="question.problem | safeHTML"></div>
                </div>
                <!--选项详情-->
                <div *ngIf="question.options">
                  <nz-radio-group [(ngModel)]="radioValue" style="width: 100%" (ngModelChange)="setRadioAnswer(question.questionNumber)">
                    <a class="subject-options" *ngFor="let option of question.options">
                      <label nz-radio nzValue="{{option.optionNumber}}">
                        {{option.optionDetails}}
                      </label>
                    </a>
                  </nz-radio-group>
              </div>
            </div>
          </div>

            <!--填空题-->
            <div *ngIf="question.type==3">
              <div class="subject-title">
                <span>简答题</span>
              </div>
              <div class="subject-main">
                <div class="subject-question">
                  {{question.questionNumber}}:
                  <div highlight="all" [innerHTML]="question.problem | safeHTML"></div>
                </div>

                <textarea [nzAutosize]="{ minRows: 15, maxRows: 25 }" nz-input [(ngModel)]="inputValue" (blur)="setTextAreaAnswer(inputValue , question.questionNumber)"></textarea>

              </div>
            </div>
      </div>
      </div>

    <!--按钮详情-->
      <div class="subject-action">
        <div class="subject-next" *ngIf="pos < sum">
          <form>
            <input type="submit" name="button" value="提前交卷" class="btn-submit button">
            <input type="button" name="button" value="下一题" class="btn-next button" (click)="getPos()">
          </form>
        </div>
        <div class="subject-next" *ngIf="pos == sum">
          <form>
            <input type="submit" name="button" value="交卷" class="btn-next button" (click)="submitExam()">
          </form>
        </div>
      </div>

      <!--分页详情-->
      <div class="answer-sheet-box">
        <ul class="answer-sheet-num">
          <li *ngFor="let i of rangeArray(1, sum)">
            <a (click)="setPos(i)">{{i}}</a>
          </li>
        </ul>
      </div>
  </div>
</div>
