<div class="mainContainer">
  <div class="CenYan">

    <div class="subject-progress">

    </div>

      <!--题目类型-->
      <div *ngFor="let question of detailsService.getQuestions()">
          <div *ngIf="question.questionNumber==pos">

            <!--选择题-->
            <div *ngIf="question.type==1">
              <div class="subject-title">
                <span>不定选择题</span>
              </div>
              <div class="subject-main">
                <div class="subject-question">
                  {{question.problem}}
                </div>
                <!--选项详情-->
                <div *ngIf="question.options">
                  <form>
                    <a class="subject-options" *ngFor="let option of question.options">
                      <label class="checkbox">
                        <input type="checkbox" class="input_button">
                        <span>{{option.optionDetails}}</span>
                      </label>
                    </a>
                  </form>
                </div>
              </div>
            </div>

            <!--填空题-->
            <div *ngIf="question.type==3">
              <div class="subject-title">
                <span>简答题</span>
              </div>
              <div class="subject-main">
                <div class="subject-question">
                  {{question.problem}}
                </div>

                <form>
                  <textarea rows="10" cols="110">
                  </textarea>
                </form>

              </div>
            </div>
          </div>
      </div>

    <!--按钮详情-->
    <div class="subject-action">
      <div class="subject-next" *ngIf="pos< sum">
        <form>
          <input type="submit" name="button" value="提前交卷" class="btn-submit button">
          <input type="button" name="button" value="下一题" class="btn-next button" (click)="getPos()">
        </form>
      </div>
      <div class="subject-next" *ngIf="pos == sum">
        <form>
          <input type="submit" name="button" value="交卷" class="btn-next button">
        </form>
      </div>
    </div>

    <!--分页详情-->
    <div class="answer-sheet-box">
      <ul class="answer-sheet-num">
        <li *ngFor="let i of rangeArray(1, sum)">
          <a (click)="setPos(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
