<div class="mainContainer">
  <div class="CenYan">
    <div class="CyTop">
      <span>2016级第2套Java程序设计模拟试卷</span>
    </div>

    <!--用户信息-->
    <div class="CyTop1">
      <p>
      <span>姓名:
        <i>Ts</i>
      </span>

        <span>班级:
        <i>2班</i>
      </span>

        <span>成绩:
        <i class="grade_i">120</i>
      </span>
      </p>
    </div>

    <!--题目类型-->
    <div class="subject-title">
      <span>不定项选择题</span>
    </div>

    <div class="subject-main">
      <div class="subject-question">
        关于浅复制和深复制的说法，下列说法正确的是
      </div>
    </div>
  </div>
</div>

