<div class="container">
  <div class="shadow-none p-3 bg-light rounded">
    <p class="pb-2" style="margin: 0 0">{{examName}}（中文）</p>
  </div>

  <div class="pt-3">
    <nz-table
      #editRowTable
      [nzData]="userInfos">
      <thead>
      <tr>
        <th nzWidth="25%">排名</th>
        <th nzWidth="25%">用户</th>
        <th nzWidth="25%">分数</th>
        <th nzWidth="25%">正确率</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of userInfos">
        <td>{{data.rank}}</td>
        <td>{{data.name}}</td>
        <td>{{data.grade}}</td>
        <td>{{data.statues}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
