:host ::ng-deep nz-upload { display: block; }
:host ::ng-deep .ant-upload.ant-upload-drag { height: 180px; }
:host ::ng-deep .logo {
  height: 32px;
  background: whitesmoke;
  margin: 16px;
  border-radius: 3px;
}

:host ::ng-deep .demo {
  overflow: auto;
}

:host ::ng-deep .ant-popover-wrap > a {
  margin-right: 8px;
}

button {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 70px;
  text-align: center;
  padding: 0;
}
