<div class="mainContainer">
   <div class="lookLi"
        *ngFor="let info of information">
      <div class="titTxt">
        <p>
          <a>{{info.examTitle}}</a>
        </p>

        <span class="pt5">
          <span>考试时间:</span>
          {{info.startTime}} 至 {{info.endTime}}
        </span>

        <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;{{info.statues}}</strong>
        </span>
      </div>

     <div class="titOper">
        <span class="titOper-span">
          {{info.grade}}
        </span>

       <a routerLink="/exam/{{info.id}}"><span class="a-span">查看</span></a>
     </div>
   </div>

  <div class="lookLi">
    <div class="titTxt">
      <p>
        <a>2016级第4套Java程序设计</a>
      </p>

      <span class="pt5">
          <span>考试时间:</span>
          2018-07-04 08:22 至 2018-07-06 23:59
        </span>

      <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;已完成</strong>
        </span>
    </div>

    <div class="titOper">
        <span class="titOper-span">
          120
        </span>

      <a><span class="a-span">查看</span></a>
    </div>
  </div>

  <div class="lookLi">
    <div class="titTxt">
      <p>
        <a>2016级第4套Java程序设计</a>
      </p>

      <span class="pt5">
          <span>考试时间:</span>
          2018-07-04 08:22 至 2018-07-06 23:59
        </span>

      <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;已完成</strong>
        </span>
    </div>

    <div class="titOper">
        <span class="titOper-span">
          120
        </span>

      <a><span class="a-span">查看</span></a>
    </div>
  </div>

  <div class="lookLi">
    <div class="titTxt">
      <p>
        <a>2016级第4套Java程序设计</a>
      </p>

      <span class="pt5">
          <span>考试时间:</span>
          2018-07-04 08:22 至 2018-07-06 23:59
        </span>

      <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;已完成</strong>
        </span>
    </div>

    <div class="titOper">
        <span class="titOper-span">
          120
        </span>

      <a><span class="a-span">查看</span></a>
    </div>
  </div>

  <div class="lookLi">
    <div class="titTxt">
      <p>
        <a>2016级第4套Java程序设计</a>
      </p>

      <span class="pt5">
          <span>考试时间:</span>
          2018-07-04 08:22 至 2018-07-06 23:59
        </span>

      <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;已完成</strong>
        </span>
    </div>

    <div class="titOper">
        <span class="titOper-span">
          120
        </span>

      <a><span class="a-span">查看</span></a>
    </div>
  </div>

  <div class="lookLi">
    <div class="titTxt">
      <p>
        <a>2016级第4套Java程序设计</a>
      </p>

      <span class="pt5">
          <span>考试时间:</span>
          2018-07-04 08:22 至 2018-07-06 23:59
        </span>

      <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;已完成</strong>
        </span>
    </div>

    <div class="titOper">
        <span class="titOper-span">
          120
        </span>

      <a><span class="a-span">查看</span></a>
    </div>
  </div>
</div>
