<div class="mainContainer">
   <div class="lookLi"
        *ngFor="let info of information">
      <div class="titTxt">
        <p>
          <a>{{info.examTitle}}</a>
        </p>

        <span class="pt5">
          <span>考试时间:</span>
          {{info.startTime}} 至 {{info.endTime}}
        </span>

        <span class="pt5">
          <span>考试状态</span>
          <strong>&nbsp;&nbsp;{{info.statues}}</strong>
        </span>
      </div>

     <div class="titOper">
        <span class="titOper-span">
          {{info.grade.substring(1,info.grade.length)}}分
        </span>

       <a (click)="getExamInfo(info.id)"><span class="a-span">查看</span></a>
     </div>
   </div>
</div>

<!--<div class="d-flex flex-wrap container">-->

  <!--<div *ngFor="let info of information" class="px-4 col-xl-4 col-sm-6 mt-3" style="height: 200px;">-->
    <!---->
  <!--</div>-->

<!--</div>-->
