li {
  text-align: -webkit-match-parent;
}

#header {
  height: 72px;
  background: #fff;
  font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

#nav {
  margin: 0 auto;
  padding-right: 10px;
  z-index: 900;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
  width: auto;
  height: 72px;
  position: relative;
  background-color: #07111b;
}

#logo {
  margin: 0 20px;
}

#logo .nav-item li {
  float: left;
}
.box{
  width: auto;
  margin-left: 510px;
}

.nav-item a {
  padding: 0 20px;
  display: block;
  color: #4D555D;
  text-align: center;
  font-size: 16px;
  line-height: 72px;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  transition: background-color .3s;
}

#header .box {
  display: flex;
  align-items: stretch;
  width: 1250px;
  margin: auto;
}

#header .box div {
  width: 100px;
  height: 52px;
  padding: 0 15px;
}

#header .box .choice {
  padding-top: 20px;
}

#header .box div a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
}
.search-area{
  margin: 0;
  height: 48px;
  width: 260px;
  border: 0 solid #fff;
  border-bottom: 1px solid #D9DDE1;
  float: right;
  position: relative;
  padding-right: 40px;
  border-bottom: 1px solid #000;
  border-bottom-color: rgba(255,255,255,.4);
  zoom: 1;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;
}
.search-area .search-input{
  height: 48px;
  padding: 12px 0;
  color: #71777d;
  background-color: transparent!important;
  padding: 12px 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 12px;
  float: left;
  border: 0;
  color: #fff;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #07111B;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

:host ::ng-deep .ant-avatar {
  margin-top: 16px;
  margin-right: 16px;
}
