<div id="header">
  <div class="page-container" id="nav" style="background-color: #fff !important;">
    <div class="box">
      <div id="logo" class="logo">
        <a href="#"><img src="https://www.imooc.com/static/img/index/logo.png" alt="慕课网"></a>
      </div>
      <div class="choice" style="width: 84px; padding-left: 110px;">
        <a href="#" target="_self">免费课程</a>
      </div>
      <div class="choice">
        <a href="#" target="_self">职业路径</a>
      </div>
      <div class="choice">
        <a href="#" target="_self">实战</a>
      </div>
      <div class="choice">
        <a href="#" target="_self">猿问</a>
      </div>
      <div class="choice">
        <a href="#" target="_self">手记</a>
      </div>
      <div class="choice">
        <a href="#" target="_self">找工作</a>
      </div>
      <div class="search-area" style="width: 190px; padding-top: 20px; height: 60px;">
        <input type="text" class="search-input">
      </div>
      <div class="choice">
        <a href="#" target="_self">
          <img src="https://img3.mukewang.com/59e5c5b30001aa2601000100-100-100.jpg" width="40" height="40" alt="个人中心" title="个人中心">
        </a>
      </div>
    </div>
  </div>
</div>

