.win {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
}

.plus {
  width: 100%;
  height: 100%;
}

#header {
  background: #FFF;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(28, 31, 33, .1);
}

.course-detail-header {
  position: relative;
  padding-right: 24px;
  height: 60px;
}

.l {
  float: left;
}

#login-area {
  float: right;
}

#login-area, .header-app {
  position: relative;
}

div {
  margin: 0;
  padding: 0;
}

.search-warp {
  float: right;
  margin: 12px 36px 12px 0;
}

.search-warp {
  float: left;
  position: relative;
  margin-left: 24px;
}

.clearfix {
}

.nv, .nvr {
  float: left;
}

.nv-goback a {
  width: 70px;
  text-align: center;
}

.nv > a {
  display: block;
  height: 60px;
}

.nv-menu > a {
  padding-right: 24px;
  font-size: 14px;
  color: #b5b9bc;
}

#studyMain, .nv-follow a, .nv-menu > a {
  position: relative;
}

ul {
  list-style: none;
}

.search-warp .search-area {
  height: 36px;
  width: 360px !important;
  background: #F3F5F6;
  border-radius: 8px;
  box-sizing: border-box;
  padding-right: 56px;
  border: 1px solid #F3F5F6;
  margin: 0;
  transition: .3s all linear;
}

.search-area {
  float: right;
  position: relative;
  height: 46px;
  width: 260px;
  padding-right: 40px;
  border-bottom: 1px solid #000;
  border-bottom-color: rgba(255, 255, 255, .4);
  zoom: 1;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;
}

.search-area {
  margin-top: 12px;
  margin-bottom: 12px;
}

.search-warp .showhide-search {
  width: 56px;
  height: 36px;
  text-align: center;
  top: 0;
  right: 0;
  padding: 0;
  border-radius: inherit;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: .3s all linear;
}

.search-warp .showhide-search {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 24px;
}

.chaptername em {
  font-size: 16px;
  color: #1C1F21;
  font-weight: 700;
}

em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: 400;
}

.logined > li {
  float: left;
  position: relative;
}

.app-load, .user-card-box {
  position: relative;
}

.set_btn {
  right: 0;
}

.search-warp .search-input {
  height: 34px;
  background: #F3F5F6;
  color: #1C1F21;
  padding-left: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-area .search-input {
  padding: 12px 0;
  width: 100%;
  height: 36px;
  line-height: 46px;
  font-size: 12px;
  float: left;
  border: 0;
  color: #fff;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  transition: background-color .3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a, button, input {
  outline: 0;
}

.search-warp .showhide-search i {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  transition: .3s all linear;
}

.search-warp i {
  display: block;
  height: 24px;
  color: #757a7e;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  width: 20px;
}

[class*=" icon-"], [class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logined li > a {
  display: block;
  height: 72px;
  line-height: 72px;
  width: 60px;
  color: #787d82;
  text-align: center;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
}

.user-card-box .user-card-item img {
  width: 36px;
  height: 36px;
  border-color: #4d5559;
}

.set_btn img {
  border-radius: 50%;
  display: inline-block;
  background: url(https://static.mukewang.com/static/img/menu_icon.png) no-repeat;
}

.set_btn img, select {
  vertical-align: middle;
}

fieldset, img {
  border: 0;
}

.logined li > a > i {
  line-height: 60px;
  color: #787d82;
  font-size: 22px;
}

.myspace_remind {
  width: 10px;
  height: 10px;
  background: url(https://static.mukewang.com/static/img/space-remind.png) no-repeat;
  top: 10px;
  right: 10px;
}

#nav_list, .msg_icon, .myspace_remind {
  position: absolute;
}

i {
  font-style: normal;
}

.top li {
  margin-top: 17px;
}

.playerMain_bg {
  background-color: #292929;
}

div, ul, dl {
  zoom: 1;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#flashArea {
  background-color: #292929;
  clear: both;
}

body.qypage-1680 .wrapper, body.qypage-1680 .container {
  width: 1360px;
  margin: 0 auto;
}

.wrapper, .container {
  width: 980px;
  margin: 0 auto;
}

body.qypage-1680 .container {
  width: 1360px;
  margin: 0 auto;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.pt10 {
  padding-top: 10px;
}

.padplay {
  position: relative;
}

.wrapper, .container {
  width: 980px;
  margin: 0 auto;
}

.pt10 {
  padding-top: 10px;
}
body.qypage-1680 .wrapper-left {
  float: left;
  width: 1060px;
}
.wrapper-left {
  width: 680px;
  float: left;
}
.qypage-1680 .videoArea-flash {
  height: 597px;
}
.videoArea-flash {
  background-color: #1f1f1f;
  height: 383px;
}
.mod-breadcrumb_left {
  padding: 15px 0;
}
.videoArea {
  float: left;
  width: 680px;
  height: 100%;
}
.qypage-1680 #flashbox {
  width: 1060px;
}
#flashbox {
  width: 680px;
  height: 100%;
}
.mod-play-tits {
  margin-bottom: 8px;
  line-height: 30px;
}
.mod-play-tit {
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  font-size: 22px;
}
h1 {
  font-size: 100%;
  font-weight: normal;
}
body.qypage-1680 .wrapper, body.qypage-1680 .container {
  width: 1360px;
  margin: 0 auto;
}
.wrapper, .container {
  width: 980px;
  margin: 0 auto;
}

.openchapter {
  display: -webkit-flex;
  height: 72px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.openchapter span {
  margin-top: 4px;
  font-size: 16px;
  color: white;
  line-height: 18px;
}

.problem_sub {
  background: #FFF;
  box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
  padding: 16px 24px 24px;
}

.problem_sub h3 {
  font-size: 16px;
  color: #07111B;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.commentModel {
  border-radius: 24px;
}

.commentTitle {
  line-height: 20px;
  margin-bottom: 25px;
}

.commentTitle span {
  font-size: 16px;
  font-weight: bold;
  color: #1c1f21;
}

.commentButton {
  margin-top: 15px;
  color: #fff;
  border-color: #c20a0a;
  background: #c20a0a;
  opacity: 1;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.login_btu {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  background-color: #f20d0d;
  border-color: #f20d0d;
  opacity: 1;
  padding: 23px 32px;
  font-size: 16px;
  line-height: 4px;
  border-radius: 24px;
  width: 120px;
  margin-top: 20px;
  box-sizing: border-box;
}

#header {
  background: #FFF;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
}

.header_a {
  width: 70px;
  height: 72px;
  text-align: center;
}

.header_a i {
  font-size: 35px;
  height: 60px;
  margin-top: 20px;
  margin-left: 40px;
}

#header span {
  padding-left: 24px;
  font-size: 16px;
  color: #1C1F21;
  font-weight: 700;
  margin-top: 26px;
}

.nz_a {
  margin-top: 25px;
  margin-right: 202px;
}
