<div class="course-detail-header" id="header">
  <div class="cd-inner clearfix">
    <div class="cd-inner clearfix">
      <ul class="l top">
        <li class="nv nv-goback" (click)="goBack()">
          <a class="revert l">
            <i style="font-size: 20px;" class="imv2-arrow3_l anticon anticon-arrow-left"></i>
          </a>
        </li>
        <li class="nv nv-menu" style="text-align: center;">
          <a class="chaptername J-chaptername" style="cursor:text;">
            <em>{{ chapter }}</em>
          </a>
        </li>
      </ul>
      <div id="login-area">
        <ul class="clearfix logined">
          <li class="set_btn user-card-box" id="header-user-card">
            <a id="header-avator" class="user-card-item" target="_self" title="{{ video.nickname }}">
              <img src="{{ video.photoUrl }}" width="40" height="40">
            </a>
          </li>
        </ul>
      </div>
      <div class="search-warp clearfix">
        <div class="search-area">
          <input type="text" class="search-input" placeholder="搜你想搜" [(ngModel)]="content" name="search"
                 style="color: black;">
        </div>
        <div class="showhide-search">
          <i style="font-size: 20px;" class="icon-search anticon anticon-search"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="playerMain_bg">
  <div class="playerMain_bg">
    <div class="flashArea" id="flashArea">
      <div class="jujiPlayWrap">
        <div class="container pt10 padplay">
          <div class="videoArea-flash clearfix" >
            <div class="videoArea" id="block-B">
              <div id="flashbox" style="position:relative;float:left;">
                <video src="{{ video.videoUrl }}" controls="controls" style="width: 980px; height: 393px;"></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mod-breadcrumb" id="block-C">
    <div id="wrapper">
      <div class="clearfix">
        <div class="wrapper-left" style="margin-left: 465px;">
          <div class="mod-breadcrumb_left">
            <div class="mod-play-tits">
              <h1 class="mod-play-tit">
                <span id="widget-videoname">{{ chapter }}</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
