<div class="bgff banner-box" style="height: 444px;">
  <!--100% 368px-->
  <div style="margin-left: 500px;" class="g-banner pr">
    <div class="menuwrap"></div>
    <div [style.display]="selector ===1 ? 'block' : 'none'" (mouseenter)="onHover(1)" (mouseleave)="onHover(0)" class="submenu a hide"  >
      <div class="innerBox clearfix">
        <div class="subinnerBox">
          <div class="cates-box">
            <div class="fe-base-box clearfix">
              <div class="banner-line"><span class="bold mr10 l small-title">前沿技术</span></div>
            </div>
            <div class="tag-box l">
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [style.display]="selector ===2 ? 'block' : 'none'"  (mouseenter)="onHover(4)" (mouseleave)="onHover(0)" class="submenu a hide"  >
      <div class="innerBox clearfix">
        <div class="subinnerBox">
          <div class="cates-box">
            <div class="fe-base-box clearfix">
              <div class="banner-line"><span class="bold mr10 l small-title">后端技术</span></div>
            </div>
            <div class="tag-box l">
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [style.display]="selector ===3 ? 'block' : 'none'" (mouseenter)="onHover(3)" (mouseleave)="onHover(0)" class="submenu a hide" >
      <div class="innerBox clearfix">
        <div class="subinnerBox">
          <div class="cates-box">
            <div class="fe-base-box clearfix">
              <div class="banner-line"><span class="bold mr10 l small-title">Java</span></div>
            </div>
            <div class="tag-box l">
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [style.display]="selector ===4 ? 'block' : 'none'" (mouseenter)="onHover(4)" (mouseleave)="onHover(0)" class="submenu a hide"  >
      <div class="innerBox clearfix">
        <div class="subinnerBox">
          <div class="cates-box">
            <div class="fe-base-box clearfix">
              <div class="banner-line"><span class="bold mr10 l small-title">Python</span></div>
            </div>
            <div class="tag-box l">
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
              <a href="#" target="_blank">微服务</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuContent">
      <div (mouseover)="onHover(1)" (mouseleave)="onHover(0)"  class="item">
        <a>
          <span class="group" style="text-decoration: none;">前沿 / 区块链 / 人工智能</span>
          <i class="imv2-arrow1_r">&gt;</i>
        </a>
      </div>
      <div (mouseenter)="onHover(2)" (mouseleave)="onHover(0)" class="item">
        <a>
          <span class="group" style="text-decoration: none;">前沿 / 区块链 / 人工智能</span>
          <i class="imv2-arrow1_r">&gt;</i>
        </a>
      </div>
      <div (mouseenter)="onHover(3)" (mouseleave)="onHover(0)" class="item">
        <a>
          <span class="group" style="text-decoration: none;">前沿 / 区块链 / 人工智能</span>
          <i class="imv2-arrow1_r">&gt;</i>
        </a>
      </div>
      <div (mouseenter)="onHover(4)" (mouseleave)="onHover(0)" class="item">
        <a>
          <span class="group" style="text-decoration: none;">前沿 / 区块链 / 人工智能</span>
          <i class="imv2-arrow1_r">&gt;</i>
        </a>
      </div>
    </div>
    <div class="g-banner-content">
      <div class="g-banner-box">
        <a href="#" target="_blank">
          <div class="banner-slide">
            <img src="https://img.mukewang.com/5b191458000144b309360316.jpg" alt="轮播图">
          </div>
        </a>
      </div>
      <div class="path-banner clearfix">
        <a href="#" target="_blank" style="text-decoration: none;">
          <i class="i-web"></i>
          <p class="tit">Web前端攻城狮</p>
          <p class="desc">互联网时代最火爆的技术</p>
        </a>
      </div>
    </div>
  </div>
</div>
