<div id="page-inner">
  <div class="col-md-12">
    <h1 class="page-header">首页推荐</h1>
  </div>




</div>
<div class="bgff">
  <div class="container-types clearfix">

    <div class="types-content">
      <div class="index-card-container course-card-container container d-flex justify-content-sm-between" >
        <a href="#" class="course-card" target="_blank">
          <div class="course-card-top hashadow">
            <img class="course-banner" src="https://img4.mukewang.com/szimg/5ac2dfe100014a9005400300.jpg">
            <div class="course-label">
              <label>Vue.js</label>
            </div>
          </div>
          <div class="course-card-content">
            <h3 class="course-card-name"> React16.4 开发简书项目 从零基础入门到实战</h3>
            <div class="clearfix course-card-bottom">
              <div class="course-card-info">
                <span>实战</span>
                <span>中级</span>
                <span>
              <i class="icon-set_sns"></i>454
            </span>
                <span class="course-star-box">
              <i class="icon-star2 on" *ngFor="let i of rangeArray(0,5)"></i>
            </span>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="course-card" target="_blank">
          <div class="course-card-top hashadow">
            <img class="course-banner" src="https://img4.mukewang.com/szimg/5ac2dfe100014a9005400300.jpg">
            <div class="course-label">
              <label>Vue.js</label>
            </div>
          </div>
          <div class="course-card-content">
            <h3 class="course-card-name"> React16.4 开发简书项目 从零基础入门到实战</h3>
            <div class="clearfix course-card-bottom">
              <div class="course-card-info">
                <span>实战</span>
                <span>中级</span>
                <span>
              <i class="icon-set_sns"></i>454
            </span>
                <span class="course-star-box">
              <i class="icon-star2 on" *ngFor="let i of rangeArray(0,5)"></i>
            </span>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="course-card" target="_blank">
          <div class="course-card-top hashadow">
            <img class="course-banner" src="https://img4.mukewang.com/szimg/5ac2dfe100014a9005400300.jpg">
            <div class="course-label">
              <label>Vue.js</label>
            </div>
          </div>
          <div class="course-card-content">
            <h3 class="course-card-name"> React16.4 开发简书项目 从零基础入门到实战</h3>
            <div class="clearfix course-card-bottom">
              <div class="course-card-info">
                <span>实战</span>
                <span>中级</span>
                <span>
              <i class="icon-set_sns"></i>454
            </span>
                <span class="course-star-box">
              <i class="icon-star2 on" *ngFor="let i of rangeArray(0,5)"></i>
            </span>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="course-card" target="_blank">
          <div class="course-card-top hashadow">
            <img class="course-banner" src="https://img4.mukewang.com/szimg/5ac2dfe100014a9005400300.jpg">
            <div class="course-label">
              <label>Vue.js</label>
            </div>
          </div>
          <div class="course-card-content">
            <h3 class="course-card-name"> React16.4 开发简书项目 从零基础入门到实战</h3>
            <div class="clearfix course-card-bottom">
              <div class="course-card-info">
                <span>实战</span>
                <span>中级</span>
                <span>
              <i class="icon-set_sns"></i>454
            </span>
                <span class="course-star-box">
              <i class="icon-star2 on" *ngFor="let i of rangeArray(0,5)"></i>
            </span>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="course-card" target="_blank">
          <div class="course-card-top hashadow">
            <img class="course-banner" src="https://img4.mukewang.com/szimg/5ac2dfe100014a9005400300.jpg">
            <div class="course-label">
              <label>Vue.js</label>
            </div>
          </div>
          <div class="course-card-content">
            <h3 class="course-card-name"> React16.4 开发简书项目 从零基础入门到实战</h3>
            <div class="clearfix course-card-bottom">
              <div class="course-card-info">
                <span>实战</span>
                <span>中级</span>
                <span>
              <i class="icon-set_sns"></i>454
            </span>
                <span class="course-star-box">
              <i class="icon-star2 on" *ngFor="let i of rangeArray(0,5)"></i>
            </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
