<nz-table
  #editRowTable
  nzBordered
  [nzData]="adCourse">
  <thead>
  <tr>
    <th>课程名字</th>
    <th>图片</th>
    <th>简介</th>
    <th>所属行业</th>
    <th>替换</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ad of adCourse let i = index">
    <td>
      {{ ad.courseName }}
    </td>
    <td (click)="showModal(ad.imgSrc, ad.courseName)">
      <img src="{{ ad.imgSrc }}" width="40" height="40">
      <span>{{ ad.kind }}</span>
    </td>
    <td>{{ ad.info }}</td>
    <td>{{ ad.bleng }}</td>
    <td>
      <button nz-button nzType="primary" (click)="openDialog(i)">替换课程</button>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{ courseName }}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="580px" nzOkText="确定" nzCancelText="取消">
  <img src="{{ imgSrc}}" alt="详细情况">
</nz-modal>
