<div id="main">
  <div class="wrap">
    <div class="top">
      <div class="course-top clearfix" style="height: 77px;">
        <a href="#" class="top-header" style="float: left;">
          <img src="https://www.imooc.com/static/img/course/logo-course.png" alt="免费课程" width="239" height="36">
        </a>
        <div class="course-top-search">
          <div class="search-area" style="margin-top: 20px;">
            <input  type="text" style="outline-width: 2px;" class="search-input" placeholder="搜索感兴趣的内容" appRainBow>
            <input type="hidden" class="btn_search">
            <ul class="search-area-result"></ul>
          </div>
          <div class="showhide-search">
            <i class="icon-search"></i>
          </div>
        </div>
      </div>
      <div class="course-content">
        <div class="course-nav-box">
          <div class="course-nav-row clearfix">
            <span class="hd l">方向：</span>
            <div class="bd">
              <ul class>
                <li [class]="direction === 'all'? 'course-nav-item on': 'course-nav-item'">
                  <a (click)="onSelect('all','all','all')">全部</a>
                </li>
                <li *ngFor="let dire of menu.direction" [class]="direction === dire.direction ? 'course-nav-item on': 'course-nav-item'">
                  <a (click)="onSelect(dire.direction,kind,diff)">{{ dire.direction }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="course-nav-row course-nav-skills clearfix">
            <div class="js-course-skills course-skills-box">
              <span class="hd l">分类：</span>
              <div class="bd">
                <ul class>
                  <li [class]="kind === 'all'? 'course-nav-item on': 'course-nav-item'">
                    <a (click)="onSelect(direction,'all',diff)">全部</a>
                  </li>
                  <span *ngFor="let dire of menu.direction">
                    <li *ngFor="let kin of dire.kind" [class]="kind === kin ? 'course-nav-item on': 'course-nav-item'">
                      <a (click)="onSelect(dire.direction,kin,diff)" >{{ kin }}</a>
                    </li>
                  </span>
                </ul>
              </div>
            </div>
          </div>
          <div class="course-nav-row clearfix border_bottom_none">
            <a href="#" class="course-recommend"></a>
            <span class="hd l">难度</span>
            <div class="bd">
              <ul class>
                <li [class]="diff === 'all'? 'course-nav-item on': 'course-nav-item'">
                  <a (click)="onSelect(direction,kind,'all')"  >全部</a>
                </li>
                <li *ngFor="let dif of menu.diff" [class]="diff === dif ? 'course-nav-item on': 'course-nav-item'">
                  <a (click)="onSelect(direction,kind,dif)">{{ dif }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-width: 1386px;" class="container">
    <div class="course-tool-bar clearfix">
      <div class="tool-left l">
        <a href="#" class="moco-change-smalle-btn active">最新</a>
      </div>
      <div class="l">
        <span class="tool-item" style="display:none;">
          <a href="#" class="follow-learn tool-chk">跟我学</a>
        </span>
      </div>
      <div class="tool-right r">
        <span class="tool-item">
          <a href="#" class="hide-learned tool-chk ">隐藏已参加的课程</a>
        </span>
        <span class="tool-item total-num">
           共 <b>887</b>个课程
        </span>
        <span class="tool-item tool-pager">
          <span class="pager-num">
            <b class="pager-cur">1</b>
            <em class="pager-total"></em>
            <a href="#" class="pager-action pager-prev  disabled">
              <i class="icon-left2"></i>
            </a>
            <a href="#" class="pager-action pager-next">
              <i class="icon-right2"></i>
            </a>
          </span>
          <a href="#" class="pager-action pager-prev  disabled"></a>
          <a href="#" class="pager-action pager-next"></a>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="moco-course-list">
        <div class="clearfix">
          <div *ngFor="let course of menu.course" class="course-card-container">
            <a href="#" class="course-card">
              <div class="course-card-top">
                <img src="https://img1.mukewang.com/5b470bfe0001cdbf06000338-240-135.jpg" class="course-banner lazy" style="display: inline">
                <div class="course-label"><label>{{ course.star }}</label></div>
              </div>
              <div class="course-card-content">
                <h3 class="course-card-name">{{ course.info }}</h3>
                <div class="clearfix course-card-bottom">
                  <div class="course-card-info">
                    <span>{{ course.level }}</span>
                    <i class="icon-set_sns"></i>{{ course.people }}
                    <span></span>
                  </div>
                  <!--<p class="course-card-desc">机器学习中的常用统计学知识点</p>-->
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="page">
        <span class="disabled_page">首页</span>
        <span class="disabled_page">上一页</span>
        <a href="javascript:void(0)" class="active text-page-tag">1</a>
        <a href="#">下一页</a>
        <a href="#">尾页</a>
      </div>
    </div>
  </div>

</div>
