#main {
  padding-top: 0;
  padding-bottom: 50px;
}

#main {
  padding: 0 !important;
  min-height: 650px;
}

#main {
  min-height: 750px;
  padding: 20px 0;
}

.settings-cont {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.clearfix {
}

.settings-cont .setting-left {
  width: 216px;
  background-color: #f8fafc;
}

.l {
  float: left;
}

.settings-cont .setting-right {
  float: left;
  margin-left: 48px;
  width: 936px;
  box-sizing: border-box;
  background-color: #fff;
}

.settings-cont .setting-left .avator-wapper {
  padding: 32px 0 24px;
}

.settings-cont .setting-left .list-wapper {
  overflow: hidden;
}

.settings-cont .setting-right-wrap {
  min-height: 550px;
}

.setting-right-wrap {
  padding: 0 !important;
}

.settings-cont .setting-left .avator-mode {
  position: relative;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 4px solid #d9dde1;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.settings-cont .setting-left .list-wapper h2 {
  font-size: 16px;
  line-height: 24px;
  margin: 12px 24px;
  font-weight: 700;
}

.settings-cont .setting-left .list-wapper .line {
  height: 1px;
  background-color: #d9dde1;
  margin: 0 24px;
}

.line {
  height: 1px;
  background-color: #d0d6d9;
  margin-top: 12px;
}

.line {
  height: 1px;
  background-color: #d0d6d9;
  margin-top: 12px;
}

.settings-cont .setting-left .list-wapper .menu {
  padding: 10px 0 25px;
}

ul {
  list-style: none;
}

div {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

.settings-cont .setting-left .avator-mode .update-avator {
  font-size: 12px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  transition: bottom .3s;
  -moz-transition: bottom .3s;
  -webkit-transition: bottom .3s;
  -o-transition: bottom .3s;
}

.settings-cont .setting-left .des-mode p {
  line-height: 44px;
  width: 160px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p, li {
  margin: 0;
  padding: 0;
}

.setting-left li {
  border: none !important;
}

.common-title {
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
}

.setting-profile .info-wapper {
  margin: 24px auto 24px 40px;
}

.settings-cont .setting-left .avator-mode .update-avator p {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  line-height: 30px;
}

.settings-cont .setting-left .des-mode .auth-list dd {
  display: inline-block;
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 2.5px;
  margin-right: 12px;
  color: #a9adb2;
}

.settings-cont .setting-left .des-mode .auth-list dd.active {
  color: #f01414;
}

dd {
  margin: 0;
  padding: 0;
}

.settings-cont .setting-left .list-wapper .menu a {
  display: block;
  position: relative;
  padding: 0 0 0 54px;
  height: 48px;
  line-height: 48px;
  transition: background-color .3s ease;
}

.common-title a {
  color: #93999f;
  font-weight: 400;
  font-size: 14px;
}

.setting-profile .info-box {
  margin-bottom: 12px;
}

.settings-cont .setting-left .avator-mode .update-avator a {
  color: inherit;
}

[class*=" icon-"], [class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.settings-cont .setting-left .des-mode .auth-list dd .icon-tips {
  position: absolute;
  width: 120px;
  line-height: 30px;
  left: 50%;
  margin-left: -60px;
  bottom: -36px;
  font-size: 12px;
  color: #4d555d;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 2px #cccecf;
  display: none;
}

.settings-cont .setting-left .des-mode .auth-list dd .icon-tips .triangle_border_up {
  width: 0;
  height: 0;
  border-width: 0 6px 7px;
  border-style: solid;
  border-color: transparent transparent #efefef;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -7px;
}

.settings-cont .setting-left .list-wapper .menu a .arr {
  position: absolute;
  right: 25px;
  top: 0;
  color: #b5b9bc;
}

.common-title a i {
  color: #008cc8;
  margin-right: 4px;
  vertical-align: middle;
}

.common-title a i {
  color: #008cc8;
  margin-right: 4px;
  vertical-align: text-top;
}

[class*=" icon-"], [class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.setting-profile .info-box label {
  width: 120px;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
  background-color: #f3f5f7;
  color: #07111b;
  font-weight: 700;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.des-mode p {
  text-align: center;
}

.setting-profile .info-box div {
  width: 708px;
  margin-left: 8px;
  line-height: 20px;
  padding: 20px 0 20px 22px;
  border-bottom: 1px solid #d9dde1;
}

.settings-cont .setting-left .des-mode .auth-list dd .icon-tips .triangle_border_up span {
  display: block;
  width: 0;
  height: 0;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent #fff;
  position: absolute;
  top: 2px;
  left: -5px;
}

[class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.settings-cont .setting-left .list-wapper .menu a.on {
  color: #fff;
  background-color: #f01414;
}

.settings-cont .setting-left .list-wapper .menu a:hover {
  background-color: #f3f5f7;
  color: #f01414;
}

.settings-cont .setting-left .list-wapper .menu a {
  display: block;
  position: relative;
  padding: 0 0 0 54px;
  height: 48px;
  line-height: 48px;
  transition: background-color .3s ease;
}

.common-title {
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
}

.oplog-list {
  width: 100%;
  margin-top: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.oplog-list th {
  background-color: #f3f5f7;
}

.oplog-list td, .oplog-list th {
  text-align: center;
  line-height: 48px;
}

caption, th {
  text-align: left;
}

th {
  font-style: normal;
  font-weight: 400;
}

.oplog-list td {
  border-bottom: 1px solid #d9dde1;
}

.oplog-list td, .oplog-list th {
  text-align: center;
  line-height: 48px;
}

.common-title .title-tips {
  font-size: 12px;
  color: #93999f;
  margin-left: 18px;
  font-weight: 400;
}

.moco-modal-layer {
  position: absolute;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
  border-radius: 12px;
}

.moco-modal-inner .moco-modal-dialog {
  padding: 32px;
}

.tpl-avator {
  width: 422px;
}

.tpl-avator .avator-wapper {
  color: #008cc8;
  margin-bottom: 20px;
}

.moco-form-group {
  overflow: hidden;
}

.tpl-avator .avator-mode {
  width: 192px;
  height: 192px;
  background-color: #d9dde1;
  text-align: center;
  margin: 0 auto 30px;
  border: 4px solid #d9dde1;
  border-radius: 96px;
  overflow: hidden;
}

.tpl-avator .w140 {
  margin: 0 auto;
}


.pull-right {
  float: right;
}

.moco-modal-title a.moco-modal-close {
  font-size: 24px;
  position: absolute;
  right: 32px;
  top: 24px;
  color: #b2b8bd;
  display: block;
  text-decoration: none;
}

.moco-modal-title div {
  font-size: 16px;
  font-weight: bold;
  color: #1c1f21;
}

.moco-modal-title {
  margin-bottom: -8px;
  padding: 24px 32px 0;
  line-height: 35px;
}

.moco-form-group {
  overflow: hidden;
}

.moco-control-label {
  width: 118px !important;
}

.moco-control-label {
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
  padding-top: 8px;
}

.moco-control-label {
  width: 20%;
  font-weight: bold;
}

.moco-control-label, .moco-control-input {
  float: left;
  padding: 0 5px;
  box-sizing: border-box;
}
.moco-control-input {
  width: 298px!important;
}
.moco-control-input {
  border-radius: 0;
  width: 80%;
}
.moco-control-label, .moco-control-input {
  float: left;
  padding: 0 5px;
  box-sizing: border-box;
}
.moco-btn-blue:link, .moco-btn-blue:visited {
  color: #fff;
}
.moco-btn:link, .moco-btn:visited {
  color: #545c63;
}
.tpl-avator a {
  cursor: pointer;
}
a:link, a:visited, body, html {
  color: #1c1f21;
}
a:link, a:visited {
  color: #5e5e5e;
}
.moco-btn {
  margin-right: 10px;
}
.marR10 {
  margin-right: 10px;
}
.moco-btn-blue {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  background-color: #1481b8;
  border-color: #1481b8;
  opacity: 1;
}
.moco-btn {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  text-decoration: none;
  box-sizing: border-box;
  background-image: none;
  border-radius: 0;
  -webkit-appearance: none;
  white-space: nowrap;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -weibkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #545c63;
  background-color: transparent;
  border-color: #9199a1;
  opacity: 1;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 18px;
}
.files {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.files input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.files:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
