<div *ngIf="flag==='0'">
  <h2 mat-dialog-title>我要发布</h2>
  <mat-dialog-content>
    <div class="moco-modal-inner">
      <div class="moco-modal-dialog" style="display: block;">
        <div id="js-pub-container" class="clearfix">
          <mat-form-field class="example-full-width txa">
            <textarea matInput placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！" [(ngModel)]="content" name="txa"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div id="pub-btm" class="pub-btm pub-comment clearfix">
      <div class="captcha-verify-box js-verify-box hide"></div>
      <input type="button" id="js-pl-submit" class="moco-btn moco-btn-red moco-btn-lg r" value="发表评论" (click)="onSure()">
    </div>
  </mat-dialog-actions>
</div>
