<div style="background-color: #f8fafc;height: 1000px" class="d-flex justify-content-between" nz-row>

  <div nz-col nzSpan="3" style="background-color: white ; height: 100%">
    <div style="width: 240px; height: 100%">
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item>
          <span title>
            <i class="anticon anticon-mail"></i>
            <span>视频上传</span>
          </span>
        </li>
        <li nz-menu-item routerLink="userManager">
          <span title>
            <i class="anticon anticon-mail"></i>
            <span>用户管理</span>
          </span>
        </li>
        <li nz-menu-item routerLink="recommend">
          <span title>
            <i class="anticon anticon-mail"></i>
            <span>首页推荐</span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div nz-col nzSpan="20" style="background-color: white ; height: 100%" class="m-4 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
